html, body {
    height: 100%;
    background-color: rgb(51, 47, 76);
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.image {
    width: 79%;
    height: 42%;
    border: 5px solid white;
    border-radius: 10px;
}

.content {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    padding: 20px;
}

.heading {
    font-family: "Libre Baskerville", serif;
    color: white;
    font-size: 50px;
    margin: 25px 0;
}

.subheading {
    font-family: "Libre Baskerville", serif;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}